[data-theme="dark"] {
    background-color: #ff00ff !important;
    color: #eee;
}

    [data-theme="dark"].bg-light {
        background-color: #111 !important;
    }

    [data-theme="dark"].bg-white {
        background-color: #111 !important;
    }

    [data-theme="dark"].bg-black {
        background-color: #111 !important;
    }