@inject UserManager<ApplicationUser> _userManager
@using AnthonyTravelPortal.UI.Extensions
@using AnthonyTravelPortal.Domain.Enums
@model AnthonyTravelPortal.UI.Areas.Dashboard.ViewModels.DashBoardSettingsVm
@{
     ViewData["Title"] = "Dashboard";
 }
@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    <div class="info-box">
        <span class="info-box-icon bg-warning">
            <i class="bi-info-circle"></i>
        </span>
        <div class="info-box-content">
            <span class="info-box-text">@ViewBag.Message</span>
        </div>
    </div>
}
@if (User.IsAdmin())
{
    @(await Html.PartialAsync("Shared/AdminDashboardView.cshtml"))
}
else 
{
    @(await Html.PartialAsync("Shared/UserDashboardView.cshtml"))
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 
<script type="application/javascript">
	userSection.init();
</script>
}

