@using Microsoft.Extensions.Hosting
@using Microsoft.AspNetCore.Hosting
@using AnthonyTravelPortal.Domain.Constants
@inject IWebHostEnvironment _environment

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-6" style="color: #0c0c0c">
                &copy; 2022 - @Constants.Title -
                <a href="#"
                   target="_blank">
                    Terms of Use
                </a>
            </div>           
        </div>
    </div>
</footer>