@page
@model ForgotPasswordModel
@{
	ViewData["Title"] = "Forgot your password?";
}


<div class="row">
	<div class="col-md-6  offset-md-3">
		<div class="card login-logout-tab">
			<div class="card-header">
				<a class="nav-link text-center" href="/Identity/Account/Login">
					<h1>@ViewData["Title"]</h1>
				</a>
			</div>
			<div class="card-content">
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<br />
						<section >
							<form method="post">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>
								<p><h5>Verify your email to receive a link to reset your password. </h5></p>
								<div class="form-floating">
									<input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="Please enter Email ID" aria-required="true" />
									<p></p>
									<span asp-validation-for="Input.Email" class="text-danger"></span>
								</div>
								<button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
							</form>
						</section>
						<br />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
