@using AnthonyTravelPortal.UI.Areas.Client.Controllers
@model List<AnthonyTravelPortal.UI.Areas.Client.ViewModels.ClientVm>

<h1>Client</h1>

<div class="padding-20 jsClient">
	<div class="btn-group btn-group-sm">
		<button type="button" class="btn btn-success btn-sm jsAddClient" data-add-action="@Url.Action(nameof(ManageController.AddClient), "Manage", new { area = "Client" })">
			<i class="bi-plus-circle"></i> Add Client
		</button>
		<button type="button" class="btn btn-primary btn-sm jsReloadClients">
			<i class="bi-recycle"></i> Reload Client
		</button>
	</div>

	<div class="row">
		<table id="tblClients" class="table table-striped">
			<caption>List of Clients</caption>
			<thead>
				<tr>
					<th>Client Name</th>
					<th>Institution Id</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody class="jsClientItems" data-refresh-action="@Url.Action(nameof(ManageController.GetClients), "Manage", new { area = "Client" })">
				@if (Model != null)
				{
					@(await Html.PartialAsync("~/Areas/Client/Views/Manage/Shared/ClientView.cshtml", Model))
				}
			</tbody>
		</table>
	</div>
</div>
